
.some-error{
  color:red;
}

.all-ok{
  color:green;
}


.valid{
  border-bottom: 1px solid green;
}
.invalid{
  border-bottom: 1px solid red;
}

.consenso-valid{
  color:green;
}

.consenso-invalid{
  color:red;
}


.input-field label.active{
  color: #9e9e9e !important;
}