/* Medium screen and Horizontal Ipad */
@media (min-width: 1024px) and (max-width: 1200px) { 

  .label-text {
    top: 24px;
    left: -57px;
    font-size: 13px;
  }

  .skill-title{
    text-align: left;
  }

  .whatido-dsc{
    margin-left: 0;
    margin-right: -65px;

  }
  .about-social ul li {
    margin-right: 4px;
  }
  .whatido-dsc {
    position: relative;
    left: 40px;
  }

  .whatido-dsc {
    position: relative;
    left: 12px;
  }

  .card-title-top {
    font-size: 11px;
  }
  .ipadFix.card-title-top {
    font-size: 13px !important;
  }
  


  .card .card-content p {
    font-size: 11px;
  }

  .gif-error{
   left: calc(70% - 236px);
  }

  .error-message {
    margin-left: 0px;
  }
}