@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icon-sap/icomoon.eot?d6zocc');
  src:  url('../fonts/icon-sap/icomoon.eot?d6zocc#iefix') format('embedded-opentype'),
    url('../fonts/icon-sap/icomoon.ttf?d6zocc') format('truetype'),
    url('../fonts/icon-sap/icomoon.woff?d6zocc') format('woff'),
    url('../fonts/icon-sap/icomoon.svg?d6zocc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-SAP-Logo:before {
  content: "\e900";
}

