/*Smarthphone*/
@media only screen and (max-device-width: 767px) {
  .go{
    position: absolute;
    top:96%;

  }
  .go-left{
    left: calc(50% - 65px);
  }

  .go-right{
    right: calc(50% - 65px);
  }
  .go-up {
    position: absolute;
    top: -24% !important;
  }


  .footer-inner, .copyright {

    text-align: center;
  }

  .footer-inner {

    position: absolute;
    bottom: 2px;
  }


  .footer-copyright{
    height: auto !important;
  }

  .hexagon.back-end {
    top: 37%;
    left: 10%;
  }

  .hexagon.front-end {
    top: 57%;
    left: 20%;
  }

  .hexagon.accountant {
    top: 37%;
    left: 50%;
  }

  .hexagon.sap-consultant {
    top: 57%;
    left: 60%;
  }

  .head-text{
    top: -3%;
    font-size: 8px;
    left: calc(89% - 302px);
  }

  .hire-me{
    left: calc(50% - 58px);
    bottom: 40px;
  }

  .second {
    margin-left: auto !important;
    margin-top: 25px;
  }

  .fix-row{
    margin-bottom: 0px;
    width: 90%;
  }

  .modal_label_checkbox i {
    top: -3px;
    left: -8px;
  }

  .label-text {
    top: 0px;
    left: -36px;
    font-size: 10px;
  }

  .modal-close, .modal-send{
    height: 36px;
    position: absolute;
    left: 21%;
    padding: 0;
    width: 55.5px;
  }

  .modal-close{
    left: 23%;
    margin-left: 0px;
  }

  .modal-send{
    left: 45%;
  }

  .modal-close i, .modal-send i{
    line-height: 40px;
    width: inherit;
  }

  .modal-close span, .modal-send span{ 
    display: none;
  }
  .modal-privacy{
    margin-top: 20px;
  }
  .icon-whatido{
    width: 110px;
  }
  .skill-title{
    text-align: left;
  }
  .date_timeline{
    left: 26% !important;
    font-size: 9px !important;
  }
  .pj-loader {
    margin-left: 42%;
  }

  .whatido-dsc {
    position: relative;
    left: -15px;
  }
  .progetti{
    margin: 0px 20px -20px 20px;
  }

  .gif-error{
    left: 22%;
    width: 90px;
  }
  #index-banner .card-panel {
    height: 62%;
  }
  .error-message {
    margin-left: 0px;

  }
  .copyright p {
    padding-left: 0px;
  }
}
