/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 nav ul a,
 nav .brand-logo {
  color: #fff;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}
body.error{
  background: url(../images/back404.png) repeat fixed center;
}

footer.error{
  position: fixed;
  bottom: 0px;
  width: 100%;

}

.error-message{
 margin-top: 86px;
 margin-left: 50px;
 font-weight: bold;
 color: #2b36b1;
}

#index-banner .card-panel{
  position: fixed;
  height: 70%;
  top: 12.5%;
  width: 50%;
  left: 24%;
}

.gif-error{
  position: absolute;
  left: calc(63% - 236px);

}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

.parallax{
  background-color: #000;
}


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: -30px 0 0 0;
}

nav {

 position: fixed;
 z-index: 999;
 height: 55px;

}

nav ul a{

  height: 55px;
}  

nav ul a:hover{
  border-bottom: 3px solid #fff;
} 

.current-section{
  border-bottom: 3px solid #fff;
  background-color: rgba(0, 0, 0, 0.1);
}

#logo-image{
 height: 55px;
 width: 55px;
 padding: 5px;
}

.timeline .row.valign-wrapper {
  padding-bottom: 13px;
  padding-right: 13px;
}

.skills{
  margin-top: -20px;
  padding-top: 10px;
  padding-bottom: 25px;
}

.skill-number{

  position: absolute;
  background: black;
  color: white;
  top: -65px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 42px;
  text-align: center;
  

}

.skill-indicator{

  position: absolute;
  background: black;
  color: white;
  top: -25px;
  width: 2px;
  height: 25px;
  z-index: 998;
  

}

.skill-sub {
  width: 100% !important;
  left: -1.5px;
  position: relative;
  display: none;
}


.skill-title{

  position: relative;
  top: 14px;
  font-size: 1.28rem !important;
  text-align: left;
}
.skill-container {

  /*top: -17px;*/
}

.skill-image{

  max-width: 60px !important;
  max-height: 60px !important;
}


.progress{

  /*width: 80% !important;
  margin-left: 15px;*/

}

.button-collapse i {

  color: #fff !important;
}

nav #nav-mobile a:hover {

  height: 64px !important;

}


.parallax img {

  width: 1903px !important;
}


@media only screen and (max-width: 992px) {

  #logo-image {
    position: absolute;
    left: 40px;
  }
  #logo-container {
    left: 95px;
    font-size: 27px;
  }

  #logo-container.error {
    left: 190px;
  }
}

.bounce1{
  background-color: #452626 !important;
}

.bconsole{
  margin-top: 10px;
}


.first-slogan, .slogan{
 display: inline;
 background-color: black;
}

p.main-slogan{
 margin-top: 10px;
}


.main-container{
  margin-top: 20px;
}


.load {
  height: 50px;
  width: 50px;
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
}

#preloader {
  background: none repeat scroll 0 0 #fff;
  display: block;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 9999;
}


.loading{
  overflow: hidden;
  height: 100%;
}


.person-img img {
  border: 8px solid #fafafa;
}

.brand-bg{
  line-height: 45px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 14px;
  margin-bottom: 30px;
}

.about-subtitle{
  color: #2196f3;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.section-title, .about-social i,.go i, .brand-text i, .brand-text{
  color: #2196f3;
}

.footer-copyright .social-icons i{
  color: #fff !important;
}


.person-info h5 span {
  display: inline-block;
  min-width: 70px;
}

.person-info h5 {
  border-bottom: 1px solid #d8d8d8;
  color: #727272;
  font-size: 14px;
  margin-bottom: 12px;
  padding-bottom: 12px;
}


.about-social {
  margin: 25px 0 0;
}

.about-social ul li {
  display: inline-block;
  margin-right: 8px;
  font-size: 14px;
}



.slider .indicators .indicator-item.active{
  background-color: #2196f3 !important;
  
}

.about-social .fa{
  font-size: 14px !important;
}

.myage, .info-mail{
  margin-left: 5px;
}


.whatsapp{
  display: none;
}

.card {
  margin: 0;
  border-radius: 20px;
}

.card-reveal{
  border-radius: 20px;
}


.card-title-top {
  color: #727272;
  font-size: 14px;
  font-weight: 400;
  padding: 15px 14px;
  border-bottom: 1px solid #eee;
  line-height: 1.7;
  margin: 0px;
}

#testimonialSlider .owl-item > div, #teamSlider .owl-item > div, #educationSlider .owl-item > div, #experienceSlider .owl-item > div {
  width: 100%;
  
}


.fadeInUpSmall {
  -webkit-animation-name: fadeInUpSmall;
  animation-name: fadeInUpSmall;
}

.valign-wrapper.card-img-wrap {
  border-bottom: 1px solid #eee;
  min-height: 140px;
}
.experience-inner .card .card-image img {
  width: 100%;
  height: auto;
}

.card .card-content {
  padding: 9px 20px;
  border-radius: 20px;
}

.single-card-box .card .card-title {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.card i {
  font-size: 24px;
}

.card .card-reveal {
  padding: 0;
}

.rev-title-wrap {
  padding: 13px 19px 0px 19px;
  border-bottom: 1px solid #eee;
  width: 100%;
}

.rev-content {
  padding: 20px;
  color: #727272;
  font-size: 14px;
  line-height: 25px;
}

.single-card-box .card .card-title {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.progetti{
 margin: 0px auto -20px auto;
 padding-bottom: 20px;
}

.cv{
  margin-top: -33px;
  margin-bottom: -13px;
}

#timeline{

  padding-top: 30px;
}


.caption{
 top: 26% !important;
}

.help{
  font-weight: bold;
}


.hire-me{

  position: absolute;
  padding-right: 15px;
  padding-left: 15px;
  bottom: 100px;
  left: 65%;
  line-height: 42px;
  font-size: 16px;
  font-weight: 400;
  display: none;

}

.hire-me i{

  line-height: 46px;
  font-size: 20px;
}

.root-sec {
  position: relative;
}


.go{
  position: absolute;
  top:96%;
}

.go-left{
  right: calc(58% - 65px);
  
}

.go-right{
  right: calc(48% - 65px);
}


.title {
  font-size: 48px;
  line-height: 1.1;
  font-weight: 700;
  color: #2196f3;
  text-transform: uppercase;
  text-align: center;
  margin: 20px -13px;
}


.fa-coffee{
  color:brown !important;
}


.copyright{

}

.social-icons li {
  margin-right: 30px;
  display: inline-block;
}


.go-up{
  position: absolute;
  top:-12%;
  left: calc(50% - 27.75px);
}


.social-icons i{

  font-size: 20px !important;
  position: absolute;
  bottom: 11px;
}


.social-icons li a.facebook:hover {
  color: #3b5998 !important;
}

.social-icons li a.linkedin:hover {
  color: #0976b4 !important;
}

.social-icons li a.twitter:hover {
  color: #55acee !important;
}

.social-icons li a.google-plus:hover {
  color: #dd4b39 !important;
}

.material-tooltip {
  background-color: #303030;
  padding: 5px;
  line-height: inherit;
  font-size: 13px;
  min-height: inherit;
}

.material-tooltip span {
  font-size: 13px;
}


#map {
  height: 90%;
  display: none;

}

.map-loader{
  position: absolute;
  top: 50%;
  left: calc(50% - 45px);
}


.modal-loader{

  position: absolute;
  left: calc(50% - 31px);
  margin-bottom: 10px;
}


.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}


.tagline {
  margin: 20px 0 0;
  font-size: 4em;
  font-weight: 600;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;

}


.head-text {
  padding: 80px 0 0 0;
  min-height: 215px;
  color: #fff;
  text-shadow: #000 0px 2px 4px;
  text-align: center;
  position: absolute;
  top: 15%;
  left: 53%;
}

.w-embed{
  position: relative;

}


.pre-footer{

  display: none;
}

.regular-text{

  margin: 34px -11px;
}

.modal-send{
  float: left !important;
  margin-right: 10px !important;
  margin-left: 20px !important;
}

.modal-close{
  float: left !important;
  margin-left: 20px;
}

.range-field .value{

  line-height: 16px !important;
}

.modal-loader, .pj-loader{
  display: none;
}


.pj-loader{
 margin-left: 50%;
 margin-bottom: 270px;
 top: 119px;
 position: relative;
}



.modal-dsc{

  margin-left: -9px;
  width: 103%;
}


.modal_checkbox_container{
  float: left;
  position: relative;
  border: 1px solid #dedbdb;
  height: 68px;
  width: 104px;
  margin-right: 20px;
  padding: 10px 0px 0px 15px;  
}

.input-field{

  padding: 0px !important;
}

.input-field input:focus, .input-field textarea:focus{

  border-bottom: 1px solid #2196f3 !important;
  box-shadow: 0 1px 0 0 #2196f3 !important;
}

.input-field .material-icons.prefix.active{

  color: #000 !important;
}

.first-typed{

  display: none;
}


.modal-dsc label{

  margin-left: -11px !important;
}

.second{
  margin-left: 25px !important;
}


.modal_privacy{

  margin-left: 5px;
}




#modal-dsc:focus{

  border-bottom: 1px solid #2196f3 !important;
  box-shadow: 0 1px 0 0 #2196f3 !important;
}


.modal_label_checkbox{

  position: absolute;
  top: 7px;

}

.modal_label_checkbox i{
  position: relative;
  top: -1px;
  left: 0px;
  color: #0d47a1;

}

.label-text{

 position: relative;
 top: -2px;
 left: -18px;
 color: #2196f3;
 font-size: 11px;
}


.ecommerce-label{

  top: -2px;
  left: -43px;
}


.modal-title{
  color: #000 !important;
  font-size: 1.2rem !important;
  font-weight: bold;
}


#modal-range::-webkit-slider-runnable-track {

  background: #3171a9;
}
#modal-range::-webkit-slider-thumb {
  background: #2196f3;
}
#modal-range:focus::-webkit-slider-runnable-track {
  background: #377ebd;
}
#modal-range::-moz-range-track {


  background: #3171a9;

}
#modal-range::-moz-range-thumb {


  background: #2196f3;
}
#modal-range::-ms-track {

  background: transparent;
  border-color: transparent;
  color: transparent;
}
#modal-range::-ms-fill-lower {
  background: #2b6495;

  
}

#modal-range::-ms-thumb {

  background: #2196f3;


}
#modal-range:focus::-ms-fill-lower {
  background: #3171a9;
}
#modal-range:focus::-ms-fill-upper {
  background: #377ebd;
}

.thumb{

  background-color: #2196F3 !important;
}

.character-counter{

  font-weight: bold;
  font-size: 0.8rem;
  font-size: 0.8rem !important;
  
}

.hexagon{

  background: url(../images/hexagon.png) -129px 2px no-repeat;
  background-size: 580px;
  height: 100px;
  width: 90px;
  position: absolute;
  display: none;
}

.wrap-header-text{
  position: relative;
}


.hexagon.back-end{
  top: 33%;
  left: 15%;
}


.hexagon.front-end{
  top: 50%;
  left: 21%;
}

.hexagon.accountant{
  top: 33%;
  left: 27%;
}

.hexagon.sap-consultant{
  top: 50%;
  left: 33%;
}


.hexagon span{
  background: url(../images/hexagon.png) 0 0 no-repeat;
  display: block;
  position: absolute;
}



span.back-end{
  background-position: -438px -3px;
  height: 45px;
  left: 8px;
  top: 22px;
  width: 79px;
  background-size: 627px;
}

span.front-end{
  background-position: -483px -12px;
  height: 47px;
  left: 20px;
  top: 29px;
  width: 54px;
  background-size: 850px;
}

span.accountant{
  background-position: -556px -5px;
  height: 59px;
  left: 17px;
  top: 30px;
  width: 74px;
  background-size: 627px;
}

span.sap-consultant{
  background-position: -301px 9px;
  height: 68px;
  left: 0px;
  top: 12px;
  width: 92px;
  background-size: 721px;
}

.modal-privacy{
  margin-left: 4px;
}

.icon-whatido{
  width: 180px;
}

.whatido-dsc{
  font-weight: bold;
  margin-left: -17px;
}

.whatido-title{
  text-align: center;
  color:white;
}

.copyright p{
  padding-left: 60px;
}


.skill-title a{

  color: black !important;
}

.open-link{
  position: absolute;
  bottom: 11px;
  right: 20px;
  color: #2799f3;
  cursor: pointer;
}
.pj-search{
  position: absolute;
  bottom: 21px;
  color: #2799f3;
  right: 20px;
}

.privacy em, .privacy a {
  color:#000;
  font-weight: bold;
}

.bymyself{
  color: #0d47a1;
  font-weight: bold;
}


.contact-me {
  padding: 10px;
  line-height: 25px;
  font-size: 16px;
  font-weight: 400;
}

.contact-me i{
  position: relative;
  top: 7px;
}
.hire-me i{
  position: relative;
  top: 4px;
}
.pj-icon{
  position: absolute;
  right: 20px;
}

.card-title .pj-icon{
  top:10px;
}
.card-bottom .pj-icon{
  top: 16px;
}

.card-bottom{

  padding: 20px 20px;
  border-radius: 0 0px 20px 20px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  border-top: 1px solid #eee;
}

.datepicker{
  display: none;
}
.content-wrap{
  margin-bottom: -5px;
}

