/*Tablet and Ipad*/
@media only screen and (min-device-width: 481px) and (max-device-width: 1023px) {

  .hexagon.back-end {
    top: 37%;
    left: 9%;
  }

  .hexagon.front-end {
    top: 54%;
    left: 18%;
  }

  .hexagon.accountant {
    top: 37%;
    left: 27%;
  }

  .hexagon.sap-consultant {
    top: 54%;
    left: 36%;
  }

  .head-text{
    top: 5%;
  }

  .hire-me{
    left: calc(77% - 58px);
    bottom: 35px;
  }
  .label-text {
    top: 0px;
    left: -36px;
    font-size: 13px;
  }

  .icon-whatido{
    width: 110px;
  }

  .skill-title{
    text-align: left;
  }
  .card-title-top {
    font-size: 13px;
  }

  .date_timeline{
    font-size: 13px !important;
  }
  .about-social ul li {
    margin-right: 0px;
  }
  .whatido-dsc {
    left: 14px;
    position: relative;
  }
  .about-social ul li a{
    width: 30px;
    height: 30px;
    line-height: 0;
  }
  .about-social .fa {
    top: -4px;
    position: relative;
  }
  .progetti{
    margin: 0px auto -20px auto;
    padding-bottom: 20px;
  }
  .gif-error{
    left: 18%;
  }
  .error-message {
    margin-left: -27px;
  }



}