
 .timeline li:first-child:before {
  background-color: red;
}

.date_timeline{
  font-weight: bold;
  display: block;
  text-align: center;
  font-size: 11px;
  left: 17%;
  right: auto !important;

}

.img_timeline img{
  margin-bottom: 10px;
}

.icon{

  margin-top: 6px;
}

.img_timeline{

  top: 20px;
  position: absolute;

}
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  padding: 13px;
  position: relative;
  min-height: 170px;

}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 10px;
  /*font-size: 1.4em;*/
  text-align: center;
  position: absolute;
  top: 21px;
  left: 50%;
  margin-left: -19px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.scuola {
  background-color: #5bc0de !important;
}

.timeline-badge.anno {
  background-color: #3f903f !important;
}

.timeline-badge.certificazione {
  background-color: #F04E4E !important;
}

.timeline-badge.lavoro {
  background-color: #F0AD4E !important;
}

.timeline-badge.android {
  background-color: #B9F04E !important;
}

.timeline-badge.web {
  background-color: #2E6DA4 !important;
}

.timeline-badge.collaboration {
  background-color: rgb(239, 233, 64) !important;
}

.panel_scuola:hover {
  border: 1px solid #5bc0de;
}

.panel_anno:hover {
  border: 1px solid #3f903f;
}

.panel_certificazione:hover {
  border: 1px solid #F04E4E;
}

.panel_lavoro:hover {
  border: 1px solid #F0AD4E;
}

.panel_android:hover {
  border: 1px solid #B9F04E;
}

.panel_web:hover {
  border: 1px solid #2E6DA4;
}

.panel_collaboration:hover {
  border: 1px solid #FBF429;
}

.panel_scuola, .panel_anno, .panel_certificazione, .panel_lavoro, .panel_android, .panel_web, .panel_collaboration{

  border: 1px solid #d4d4d4;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.title_scuola{
  color: #5bc0de;
  margin-top: 30px;
}

.title_anno{
color: #3f903f;
margin-top: 30px;
}

.title_certificazione{
  color: #F04E4E;
  margin-top: 30px;
}

.title_lavoro{
  color: #F0AD4E;
  margin-top: 30px;
}

.title_android{
  color: #B9F04E;
  margin-top: 30px;
}

.title_web{
  color: #2E6DA4;
  margin-top: 30px;
}

.title_collaboration{
  color: rgb(239, 233, 64);
  margin-top: 30px;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline > li > .timeline-badge {
    left: 18px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
    color:red;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}

.timeline-panel{

  background-color: #fff;
}