<div class="privacy">
						<h1>Privacy</h1>
						<h3>Utilizzo e Responsabilità</h3>
						<p>Gli utenti del sito accettano di accedere alle pagine e ai contenuti del sito secondo loro responsabilità. Le informazioni presenti sul sito <a href="http://www.giacomofabbian.it">www.giacomofabbian.it</a> sono passibili di modifiche e verranno periodicamente aggiornate. Si prega dunque l’utente di leggere le condizioni di utilizzo e la Policy regolarmente, prima di consultare il sito, per conoscere e accettare le possibili variazioni.&nbsp;I contenuti e i materiali del sito web sono destinati a esclusivo uso personale e non commerciale. Si può scaricare o copiare i contenuti e gli altri materiali presenti sul sito <a href="http://www.giacomofabbian.it">www.giacomofabbian.it</a> solo per uso personale e non commerciale. Ogni altro uso è rigorosamente vietato e perseguibile a norma di legge, a meno che non sia stato ottenuto il preventivo consenso scritto da parte di Giacomo Fabbbian.</p>
						<p>Giacomo Fabbbian illustra sul sito i servizi e le informazioni riguardanti progetti e collaborazioni. Si raccomanda l’utenza di verificare le informazioni ricavate dal sito prima di citarle o utilizzarle in qualsivoglia modo.Se si desiderano informazioni e notizie su servizi offerti da Giacomo Fabbbian siete pregati di contattarmi.</p>
						<p>&nbsp;</p>
						<h3>Trattamento dei dati personali</h3>
						<p>Gli utenti fornendo i propri dati personali, danno il proprio assenso all’utilizzo degli stessi da parte del titolare del sito, secondo quando prescrive l’articolo 10 della legge 675/96. L’utente è responsabile della veridicità dei dati personali forniti. Qualora non venissero forniti i dati corretti non potranno essere erogati i servizi o le informazioni richieste.</p>
						<p>L’utente fornisce il proprio assenso all’utilizzo a soli fini statistici o per qualsivoglia altro scopo specificato nell’informativa, secondo quanto scritto all’articolo 10 della Legge 675/96.</p>
						<p>La modalità di raccolta dei dati personali avviene secondo quanto prescritto dall’art. 9 della Legge 675/96. I dati vengono rilasciati dagli utenti in modo spontaneo e secondo la loro responsabilità, per i fini dichiarati, espliciti e legittimi e verranno trattati secondo le finalità per le quali sono stati raccolti.</p>
						<p>&nbsp;</p>
						<p><strong>Modifica e cancellazione</strong><br>
							L’utente può procedere alla modifica, l’aggiornamento o la cancellazione dei propri dati in qualsiasi momento. Si informa che il sito potrebbe contenere link a siti di terzi, altri enti, case madri, marchi e/o prodotti. Il titolare del sito MM non è tenuto a controllare quanto in essi contenuto e non è responsabile di eventuali danni derivanti dall’utilizzo degli stessi. I link a siti terzi sono forniti agli utenti a scopo di utilità e comodità, pertanto gli utenti vi accedono secondo la propria responsabilità.</p>
							<p>&nbsp;</p>
							<p><strong>Tipologie dei dati trattati</strong><br>
								I sistemi informatici e le procedure software preposte al funzionamento di questo sito web acquisiscono, nel corso del loro normale esercizio, alcuni dati personali la cui trasmissione è implicita nell’uso dei protocolli di comunicazione di Internet. Tali informazioni non son raccolte per essere associate agli utenti ma, data la loro natura potrebbero, attraverso elaborazioni ed associazioni con dati detenuti da terzi, permettere di identificare gli utenti.<br>
								In questa categoria di dati rientrano gli indirizzi IP o i nomi a dominio dei computer utilizzati dagli utenti che si connettono al sito, gli indirizzi in notazione URI (Uniform Resource Identifier) delle risorse richieste, l’orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione del file ottenuto in risposta, il codice numerico indicante lo stato della risposta data dal server (buon fine, errore, ecc.) ed altri parametri relativi al sistema operativo e all’ambiente informatico dell’utente.</p>
								<p>&nbsp;</p>
								<h3>Informativa sui Cookie</h3>
								<p>Utilizzo i cookie e strumenti analoghi per migliorare le loro prestazioni e migliorare l’esperienza dell’utente. Questo documento spiega come ciò viene fatto.</p>
								<p><strong>Cosa sono i cookie?</strong><br>
									Il cookie è un piccolo file passivo che prende posto nell’hard drive del computer dell’utente la prima volta che visita il sito. Ci sono molte funzioni che i cookie svolgono. Ad esempio analizzare il traffico web e riconosce i visitatori ricorrenti aiutando a ricordare il tuo nome utente e le tue preferenze e di raccomandare contenuti che crediamo siano più pertinenti per voi. I cookie permettono semplicemente che le applicazioni web rispondano all’utente come ad una persona ben precisa senza però raccogliere o trasmettere dati personali.</p>
									<p><strong>Che tipo di cookie utilizzo?</strong><br>
										Mi servo&nbsp;dei cosiddetti cookie “terze parti” per compilare ed aggregare dati relativi al traffico del sito. In tal maniera possiamo migliorare il nostro sito web e venire incontro ai bisogni dei clienti. Tali dati vengono usati da noi esclusivamente per fini di analisi statistica! Complessivamente i cookies ci aiutano ad offrire all’utente la possibilità di usufruire di un miglior sito web, in quanto ci consentono di monitorare quali siano le pagine che l’utente ritiene utili. Il cookie non ci consente in alcun modo di avere accesso al computer dell’utente, né ad informazioni diverse da quelle che l’utente ha accettato di condividere con noi.</p>
										<p><strong>Quanti sono i tipi di cookie?</strong><br>
											I cookie utilizzati in questo sito si riferiscono a quattro principali macro categorie:</p>
											<p><em>1. Cookie essenziali</em><br>
												Alcuni cookie sono essenziali per la fruibilità del sito. Ad esempio, se in fase d’identificazione e accesso ad aree riservate l’utente disabilita il cookie, l’intero processo verrà bloccato.</p>
												<p><em>2. Performance Cookie</em><br>
													Questi cookie sono utilizzati per analizzare l’utilizzo del sito da parte degli utenti e quanto lo stesso sia performante, al fine di migliorarne le prestazioni identificando tempestivamente eventuali problemi. A tal fine i cookie sono impiegati per identificare le pagine più popolari, il metodo di collegamento più intuitivo o evidenziare i contenuti più pertinenti per l’utente.</p>
													<p><em>3. Functionality Cookie</em><br>
														Questi cookie sono utilizzati per ricordare le vostre preferenze, come ad esempio i dati d’identificazione dell’utente per ogni accesso successivo al primo o la memorizzazione delle preferenze di personalizzazione del sito.<br>
														Rendono inoltre possibile la visione di un video online o l’invio di un commento a un blog.</p>
														<p><em>4. Cookie per la pubblicità mirata</em><br>
															Questi cookie sono utilizzati per individuare gli ambiti d’interesse dell’utente da parte del gestore del sito o degli inserzionisti senza però fornire eventuali dati personali protetti dalla legge sulla privacy. Ad esempio, se si eseguono ricerche mirate al settore fotografico è plausibile che il campo sia di interesse dell’utente. A tal fine gli articoli o le inserzioni su questo tema saranno evidenziati in maniera appropriata.</p>
															<p><strong>I cookie di questo sito vengono usati da terzi?</strong><br>
																Questo sito web utilizza Google Analytics per monitorare il traffico. Potrei anche utilizzare cookie di terze parti per migliorare le funzionalità del sito, per il controllo del rispetto dei termini e delle condizioni e della nostra politica sul copyright o per ricerche di mercato.</p>
																<p><strong>Può un utente del&nbsp;sito bloccare i cookie?</strong><br>
																	La prima volta che si accede al nostro sito web viene mostrato una messaggio che spiega che, continuando ad utilizzare il sito, si acconsente all’utilizzo dei cookie. Tuttavia, se si desidera disattivare i cookie, è possibile farlo. Si ricorda che se si sceglie di farlo, è possibile che alcune funzionalità non vengano eseguite correttamente.</p>
																	<p><strong>Ulteriori Informazioni</strong><br>
																		Maggiori dettagli su come le aziende utilizzano i cookie sono disponibili all’indirizzo <a href="http://www.allaboutcookies.org">www.allaboutcookies.org</a>.</p>
																		<p>In caso di domande riguardanti questa Politica contattami tramite &nbsp;e-mail all’indirizzo <em>info@giacomofabbian.it</em></p>
																		<p>&nbsp;</p>
																		<h3>Link ad altri siti web</h3>
																		<p>Il sito web può contenere link ad altri siti web interessanti. L’utente che utilizza tali link e lascia il nostro sito deve tenere presente che da parte nostra non può essere esercitato alcun controllo sui siti web terzi. Non mi ritengo quindi responsabile per la protezione ed il trattamento dei dati personali forniti dall’utente durante la sua navigazione in tali siti, né la presente Informativa per il trattamento dei dati personali può essere estesa a tali siti. L’utente dovrà navigare con prudenza e prendere visione dell’Informativa applicabile al sito web in questione.</p>
																		<p>&nbsp;</p>
																		<h3>Consenso dell’utente</h3>
																		<p>La consultazione del nostro sito implica il consenso dell’utente a quanto contenuto nella presente Informativa sul trattamento dei dati personali.</p>
																		<p>&nbsp;</p>
																		<h3>Il Garante</h3>
																		<p>Il Garante della privacy, responsabile della tutela dei dati personali, è identificato nella persona di Giacomo Fabbbian, presso la sede di Arzergrande, Italy.<br>
																			Tel. +39 3407187100<br>
																			E-Mail: info@giacomofabbian.it</p>

																		</div>